### Installation

In [2]:
!pip install --upgrade synmax-api-python-client

Collecting synmax-api-python-client
  Downloading synmax_api_python_client-0.0.18-py3-none-any.whl (28 kB)
Requirement already satisfied: urllib3 in c:\users\techt\anaconda3\lib\site-packages (from synmax-api-python-client) (1.26.9)
Requirement already satisfied: requests in c:\users\techt\anaconda3\lib\site-packages (from synmax-api-python-client) (2.27.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\techt\anaconda3\lib\site-packages (from requests->synmax-api-python-client) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\techt\anaconda3\lib\site-packages (from requests->synmax-api-python-client) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\techt\anaconda3\lib\site-packages (from requests->synmax-api-python-client) (3.3)
Installing collected packages: synmax-api-python-client
Successfully installed synmax-api-python-client-0.0.18

In [3]:
!pip install wheel pandas tqdm

Requirement already satisfied: wheel in c:\users\techt\anaconda3\lib\site-packages (0.37.1)
Requirement already satisfied: pandas in c:\users\techt\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: tqdm in c:\users\techt\anaconda3\lib\site-packages (4.64.0)
Requirement already satisfied: numpy>=1.18.5 in c:\users\techt\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\techt\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\techt\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: colorama in c:\users\techt\anaconda3\lib\site-packages (from tqdm) (0.4.4)
Requirement already satisfied: six>=1.5 in c:\users\techt\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

### Import necessary code & libraries

In [17]:
import os
from synmax.hyperion import HyperionApiClient, ApiPayload

### Set up an API client

In [18]:
client = HyperionApiClient(access_token=os.environ['SYNMAX_API_KEY'])

### Test out client functionality

##### /regions

In [19]:
# to fetch region data:
region_df = client.fetch_regions()
region_df.head()

INFO:synmax.common.api_client:https://hyperion.api.synmax.com//regions

      county region state_ab        sub_region
0  BIENVILLE   gulf       LA  Haynesville - LA
1    BOSSIER   gulf       LA  Haynesville - LA
2      CADDO   gulf       LA  Haynesville - LA
3  CLAIBORNE   gulf       LA  Haynesville - LA
4    DE SOTO   gulf       LA  Haynesville - LA

In [20]:
region_df[region_df['state_ab']=='TX']

             county region state_ab        sub_region
113        ANDERSON   gulf       TX  Haynesville - TX
114         ANDREWS   gulf       TX         West - TX
115        ANGELINA   gulf       TX  Haynesville - TX
116         ARANSAS   gulf       TX        South - TX
117          ARCHER   gulf       TX      Central - TX
...             ...    ...      ...               ...
2237  MUSTANG IS-LB   gulf       TX        South - TX
2238  MUSTANG IS-SB   gulf       TX        South - TX
2239  N PADRE IS-LB   gulf       TX        South - TX
2240  S PADRE IS-LB   gulf       TX        South - TX
2241   GALVESTON-SB   gulf       TX        South - TX

[281 rows x 4 columns]

##### /frac_crews

In [21]:
payload = ApiPayload(start_date='2022-05-1', end_date='2022-06-25', state_code='TX')
result_df = client.frac_crews(payload)
result_df.head()

INFO:synmax.common.api_client:Payload data: ApiPayload(state_code='TX', start_date='2022-05-1', end_date='2022-06-25', pagination_start=0, production_month=0)
Querying API https://hyperion.api.synmax.com//fraccrews pages:   0%|                            | 0/15 [00:00<?, ?it/s]INFO:synmax.common.api_client:Total data size: 7249, total pages to scan: 15
Querying API https://hyperion.api.synmax.com//fraccrews pages: 100%|███████████████████| 15/15 [00:17<00:00,  1.19s/it]
INFO:synmax.common.api_client:Total response data: 7249

,county,date,lat,long,operator_name,region,state_ab,sub_region,wellpad_id
0,CULBERSON,2022-06-07,31.852757,-104.083177,CHEVRON USA INC,gulf,TX,West - TX,12824
1,CULBERSON,2022-06-08,31.852757,-104.083177,CHEVRON USA INC,gulf,TX,West - TX,12824
2,CULBERSON,2022-06-09,31.852757,-104.083177,CHEVRON USA INC,gulf,TX,West - TX,12824
3,CULBERSON,2022-06-10,31.852757,-104.083177,CHEVRON USA INC,gulf,TX,West - TX,12824
4,CULBERSON,2022-06-11,31.852757,-104.083177,CHEVRON USA INC,gulf,TX,West - TX,12824

##### /completions

In [22]:
payload = ApiPayload(start_date='2022-05-1', end_date='2022-06-25', state_code='LA')
completions_df = client.well_completion(payload)

INFO:synmax.common.api_client:Payload data: ApiPayload(state_code='LA', start_date='2022-05-1', end_date='2022-06-25', pagination_start=0, production_month=0)
Querying API https://hyperion.api.synmax.com//completions pages:   0%|                           | 0/1 [00:00<?, ?it/s]INFO:synmax.common.api_client:Total data size: 28, total pages to scan: 1
Querying API https://hyperion.api.synmax.com//completions pages: 100%|██████████████████| 1/1 [00:00<00:00, 174.24it/s]
INFO:synmax.common.api_client:Total response data: 28

In [23]:
completions_df.to_csv('output.csv')

### Bad API key

In [24]:
bad_client = HyperionApiClient(access_token='BAD API KEY')

In [26]:
bad_client.rigs(payload)

INFO:synmax.common.api_client:Payload data: ApiPayload(state_code='LA', start_date='2022-05-1', end_date='2022-06-25', pagination_start=0, production_month=0)
Querying API https://hyperion.api.synmax.com//rigs pages: 100%|██████████████████████████| 1/1 [00:00<00:00,  4.06it/s]ERROR:synmax.common.api_client:Your API key is invalid. Please contact eric@synmax.com for license key
Querying API https://hyperion.api.synmax.com//rigs pages: 100%|██████████████████████████| 1/1 [00:00<00:00,  3.94it/s]

Empty DataFrame
Columns: []
Index: []